//Colors using material color tool
$blue-gray-700-dark: #1c313a;
$blue-gray-400-dark: #4b636e;
$blue-gray-900-dark: #000a12;



$primary: $blue-gray-700-dark; 
$secondary: $blue-gray-400-dark;
$background: $blue-gray-900-dark;