@use "@material/theme" with (
  $primary: #FFFFFF,
  $secondary: #2A2931,

  $surface: #373741,
  $background: #33333D,
  $error: #b00020,

  $on_primary: #2A2931,
  $on_secondary: #ffffff,
  $on_surface: #ffffff,
  $on_error: #ffffff,
);

@use "@material/icon-button";
@use "@material/button";
@use "@material/card";
@import "@material/top-app-bar/mdc-top-app-bar";

@include icon-button.core-styles;
@include button.core-styles;
@include card.core-styles;
@include theme.core-styles;
