@import "_material.scss";
@import "@material/theme";

@font-face {
  font-family: "Langar";
  src: url("./res/Langar-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Langar";
  font-size: 1rem;
  background-color: $background;
  color: $on-primary;
}

.container {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin: 0 1rem 0 1rem;
}

.mdc-top-app-bar {
  padding-top: 0;
}

//Root font size 16px

//Really small phones
//@media (max-width: 40rem) {
@media (max-width: 640px) {
  .container {
    padding-top: 50px; //avoid top-app-bar
    grid-template-columns: [hd-start] repeat(2, [col-start] 1fr [col-end]) [hd-end];
    grid-template-areas: "header header";
  }
}

//Regular pixels, iphones
//Most users
//@media (min-width: 41rem) and (max-width: 60rem) {
@media (min-width: 640px) and (max-width: 1024px) {
  .container {
    padding-top: 50px; //avoid top-app-bar
    grid-template-columns: [hd-start] repeat(4, [col-start] 1fr [col-end]) [hd-end];
    grid-template-areas: "header header header header";
  }
}

//tablets and the rest
//@media (min-width: 61rem) {
@media (min-width: 1024px) {
  .container {
    grid-template-columns: [hd-start] repeat(8, [col-start] 1fr [col-end]) [hd-end];
  }
  .mdc-top-app-bar {
    display: none;
  }
}
