@import "_material.scss";

@font-face {
  font-family: 'Langar';
  src: url('./res/Langar-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  @extend .mdc-theme--secondary-bg;
  font-family: 'Langar';
}

// .container {
//   display: grid;
//   grid-template-rows: auto 2rem 1fr 2rem;
//   grid-template-areas:
//     "header"
//     "search"
//     "body"
//     "footer";
//   height: 100vh;
// }

