@font-face {
  font-family: 'Langar';
  src: url('./Langar-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
.hello {
  color: red;
  font-family: 'Langar', cursive;
  background: url("./icon.png");
}
